/* Livetex buttons styles */
.lt-button {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    background-position: left top;
    background-repeat: no-repeat;
    font-family: Arial,sans-serif;
    /* ie 7*/
    *display: inline;
    *zoom:1;
}

.lt-button.lt-hidden {
  display: none !important;
}

.lt-small {
	width: 146px;
	height: 50px;
}
.lt-medium {
	width: 193px;
	height: 69px;
}
.lt-big {
	width: 223px;
	height: 100px;
}

.lt-call.lt-small {
	width: 150px;
	height: 54px;
}
.lt-call.lt-medium {
	width: 197px;
	height: 73px;
}
.lt-call.lt-big {
	width: 227px;
	height: 104px;
}
.lt-small .lt-image {
	display: none;
}
.lt-medium .lt-image {
	width: 42px;
	height: 48px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 8px;
	background: url(../img/border-medium.png) left top no-repeat;
	overflow: hidden;
	float: left;
}
.lt-medium .lt-image img {
	width: 33px;
	height: 38px; 
	margin-left: 4px; 
	margin-top: 5px;
}

.lt-big .lt-image {
	width: 68px;
	height: 79px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	background: url(../img/border-big.png) left top no-repeat;
	overflow: hidden;
	float: left;
}
.lt-big .lt-image img {
	width: 60px;
	height: 70px; 
	margin-left: 4px;
	margin-top: 5px;
}

.lt-button .lt-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.4em;
	white-space: nowrap;
	color: #fff;
	text-shadow: 0 1px #444;
  text-align: left;
}
.lt-button .lt-subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	line-height: 1.2em;
	white-space: nowrap;
	color: #fff;
	text-shadow: 0 1px #444;
  text-align: left;
}
.lt-small .lt-title {
	text-align: center;
	margin-top: 7px;
}
.lt-small .lt-subtitle {
	text-align: center;
}
.lt-medium .lt-title {
	margin-top: 18px;	
}
.lt-big .lt-title {
  margin-top: 32px;
}
.lt-call .lt-image {
	display: none;
}
.lt-call.lt-small .lt-title {
	text-align: center;
	margin-top: 10px;
	line-height: 1.2em;
	font-size: 13px;
	padding: 0 10px;
	white-space: normal;
}
.lt-button.lt-call {
  *display: none;
}
.lt-call.lt-small .lt-subtitle {
	/*display: none;*/
}
.lt-call.lt-medium .lt-title {
	font-size: 13px;
	margin-top: 20px;
	margin-left: 65px;
	white-space: normal;
	padding-right: 10px;
}
.lt-call.lt-medium .lt-subtitle {
	font-weight: bold;
	margin-left: 65px;
}
.lt-call.lt-big .lt-title {
	font-size: 13px;
	text-align: center;
	margin-top: 50px;
}
.lt-call.lt-big .lt-subtitle {
	text-align: center;
}
.lt-call.lt-big.lt-site .lt-title {
	margin-top: 60px;
}
.lt-white .lt-title {
	color: #505050;
	text-shadow: 0 1px #fff;
}
.lt-offline .lt-title {
	color: #717171;
	text-shadow: 0 1px #fff;
}
.lt-white .lt-subtitle {
	color: #505050;
	text-shadow: 0 1px #fff;
}
.lt-offline .lt-subtitle {
	color: #717171;
	text-shadow: 0 1px #fff;
}
/* Small chat */
.lt-button.lt-small.lt-blue {
	background-image: url('../img/small/blue.png');
}
.lt-button.lt-small.lt-green {
	background-image: url('../img/small/green.png');
}
.lt-button.lt-small.lt-orange {
	background-image: url('../img/small/orange.png');
}
.lt-button.lt-small.lt-red {
	background-image: url('../img/small/red.png');
}
.lt-button.lt-small.lt-purple {
	background-image: url('../img/small/purple.png');
}
.lt-button.lt-small.lt-gray {
	background-image: url('../img/small/gray.png');
}
.lt-button.lt-small.lt-pink {
	background-image: url('../img/small/pink.png');
}
.lt-button.lt-small.lt-black {
	background-image: url('../img/small/black.png');
}
.lt-button.lt-small.lt-yellow {
	background-image: url('../img/small/yellow.png');
}
.lt-button.lt-small.lt-white {
	background-image: url('../img/small/white.png');
}
.lt-button.lt-small.lt-offline {
	background-image: url('../img/small/offline.png');
}

/* Medium chat */
.lt-button.lt-medium.lt-blue {
	background-image: url('../img/medium/blue.png');
}
.lt-button.lt-medium.lt-green {
	background-image: url('../img/medium/green.png');
}
.lt-button.lt-medium.lt-orange {
	background-image: url('../img/medium/orange.png');
}
.lt-button.lt-medium.lt-red {
	background-image: url('../img/medium/red.png');
}
.lt-button.lt-medium.lt-purple {
	background-image: url('../img/medium/purple.png');
}
.lt-button.lt-medium.lt-gray {
	background-image: url('../img/medium/gray.png');
}
.lt-button.lt-medium.lt-pink {
	background-image: url('../img/medium/pink.png');
}
.lt-button.lt-medium.lt-black {
	background-image: url('../img/medium/black.png');
}
.lt-button.lt-medium.lt-yellow {
	background-image: url('../img/medium/yellow.png');
}
.lt-button.lt-medium.lt-white {
	background-image: url('../img/medium/white.png');
}
.lt-button.lt-medium.lt-offline {
	background-image: url('../img/medium/offline.png');
}

/* Big chat */
.lt-button.lt-big.lt-blue {
	background-image: url('../img/big/blue.png');
}
.lt-button.lt-big.lt-green {
	background-image: url('../img/big/green.png');
}
.lt-button.lt-big.lt-orange {
	background-image: url('../img/big/orange.png');
}
.lt-button.lt-big.lt-red {
	background-image: url('../img/big/red.png');
}
.lt-button.lt-big.lt-purple {
	background-image: url('../img/big/purple.png');
}
.lt-button.lt-big.lt-gray {
	background-image: url('../img/big/gray.png');
}
.lt-button.lt-big.lt-pink {
	background-image: url('../img/big/pink.png');
}
.lt-button.lt-big.lt-black {
	background-image: url('../img/big/black.png');
}
.lt-button.lt-big.lt-yellow {
	background-image: url('../img/big/yellow.png');
}
.lt-button.lt-big.lt-white {
	background-image: url('../img/big/white.png');
}
.lt-button.lt-big.lt-offline {
	background-image: url('../img/big/offline.png');
}

/* Small calls */
.lt-button.lt-call.lt-small.lt-blue {
	background-image: url('../img/small/calls/blue.png');
}
.lt-button.lt-call.lt-small.lt-green {
	background-image: url('../img/small/calls/green.png');
}
.lt-button.lt-call.lt-small.lt-orange {
	background-image: url('../img/small/calls/orange.png');
}
.lt-button.lt-call.lt-small.lt-red {
	background-image: url('../img/small/calls/red.png');
}
.lt-button.lt-call.lt-small.lt-purple {
	background-image: url('../img/small/calls/purple.png');
}
.lt-button.lt-call.lt-small.lt-gray {
	background-image: url('../img/small/calls/gray.png');
}
.lt-button.lt-call.lt-small.lt-pink {
	background-image: url('../img/small/calls/pink.png');
}
.lt-button.lt-call.lt-small.lt-black {
	background-image: url('../img/small/calls/black.png');
}
.lt-button.lt-call.lt-small.lt-yellow {
	background-image: url('../img/small/calls/yellow.png');
}
.lt-button.lt-call.lt-small.lt-white {
	background-image: url('../img/small/calls/white.png');
}
.lt-button.lt-call.lt-small.lt-offline {
	background-image: url('../img/small/calls/offline.png');
}
/* Medium calls */
.lt-button.lt-call.lt-medium.lt-blue {
	background-image: url('../img/medium/calls/blue.png');
}
.lt-button.lt-call.lt-medium.lt-green {
	background-image: url('../img/medium/calls/green.png');
}
.lt-button.lt-call.lt-medium.lt-orange {
	background-image: url('../img/medium/calls/orange.png');
}
.lt-button.lt-call.lt-medium.lt-red {
	background-image: url('../img/medium/calls/red.png');
}
.lt-button.lt-call.lt-medium.lt-purple {
	background-image: url('../img/medium/calls/purple.png');
}
.lt-button.lt-call.lt-medium.lt-gray {
	background-image: url('../img/medium/calls/gray.png');
}
.lt-button.lt-call.lt-medium.lt-pink {
	background-image: url('../img/medium/calls/pink.png');
}
.lt-button.lt-call.lt-medium.lt-black {
	background-image: url('../img/medium/calls/black.png');
}
.lt-button.lt-call.lt-medium.lt-yellow {
	background-image: url('../img/medium/calls/yellow.png');
}
.lt-button.lt-call.lt-medium.lt-white {
	background-image: url('../img/medium/calls/white.png');
}
.lt-button.lt-call.lt-medium.lt-offline {
	background-image: url('../img/medium/calls/offline.png');
}
/* Big calls */
.lt-button.lt-call.lt-big.lt-blue {
	background-image: url('../img/big/calls/blue.png');
}
.lt-button.lt-call.lt-big.lt-green {
	background-image: url('../img/big/calls/green.png');
}
.lt-button.lt-call.lt-big.lt-orange {
	background-image: url('../img/big/calls/orange.png');
}
.lt-button.lt-call.lt-big.lt-red {
	background-image: url('../img/big/calls/red.png');
}
.lt-button.lt-call.lt-big.lt-purple {
	background-image: url('../img/big/calls/purple.png');
}
.lt-button.lt-call.lt-big.lt-gray {
	background-image: url('../img/big/calls/gray.png');
}
.lt-button.lt-call.lt-big.lt-pink {
	background-image: url('../img/big/calls/pink.png');
}
.lt-button.lt-call.lt-big.lt-black {
	background-image: url('../img/big/calls/black.png');
}
.lt-button.lt-call.lt-big.lt-yellow {
	background-image: url('../img/big/calls/yellow.png');
}
.lt-button.lt-call.lt-big.lt-white {
	background-image: url('../img/big/calls/white.png');
}
.lt-button.lt-call.lt-big.lt-offline {
	background-image: url('../img/big/calls/offline.png');
}