@charset "utf-8";
/* CSS Document */
/** 
* @package Livetex Chat Window
* @version 0.1
* @author Andrey Garbuzov
* @company Livetex chat & calls http://livetex.ru
*/

/**
* Обнуление настроек
* @section reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	/*background-color: transparent;
	border: 0;*/
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.3em;
	color: #0b3f5f;
	overflow: hidden;
	position: relative;
	width: 448px;
}

.background {
	background-image: url(/img/chat-bg.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-color: #0B87BD;
	height: 605px;
	width: 448px;
	position: relative;
	margin: auto;
}

.banner {
	display: none;
	width: 448px;
	height: 82px;
	overflow: hidden;
	text-align: center;
}

.spinner {
	background: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	position: absolute;
	z-index: 400;
	width: 100%;
	height: 100%;
	display: none;
    top: 0px;
}
.spinner img{
	position: absolute;
	z-index: 100;
	left: 50%;
	top: 50%;
	margin-left: -15px;
	margin-top: -15px;	
}

.warning{
	display: none;
	background-image: url(/img/warning-bg-bottom.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 407px;
	padding-bottom: 8px;
	margin-right: auto;
	margin-left: auto;
}
.warning > div{
	background-image: url(/img/warning-bg-top.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 15px;
	text-align: center;
	padding-bottom: 8px;
	font-style: italic;
	color: #000;
}

label {
	display: block;
	font-weight: bold;
	padding-top: 20px;
	text-shadow:0px 1px 1px #f6f6f6;
}

.input-text {
	width: 400px;
	height: 27px;
	background-image: url(/img/input-bg.png);
	background-repeat: no-repeat;
	background-position: left top;	
	padding: 4px;
	margin-top: 5px;
}

.input-text input {
	line-height: 25px;
	font-size: 16px;
	width: 390px;
	height: 25px;
	padding: 0 3px;
	margin: 0;
	border: none;
	outline: none;
	background-color: #f6f6f6;	
}

.input-textarea {
	background-image: url(/img/textarea-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 93px;
	width: 402px;
	padding: 3px;
	margin-top: 5px;
}

.input-textarea textarea {
	width: 398px;
	height: 89px;	
	border: none;
	outline: none;
	background-color: #f6f6f6;
	overflow-y: auto;
	overflow-x: hidden;
	resize: none;
}

a.back-link {
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin-top:10px;
	float: left;
	text-shadow:0px 1px 1px #f6f6f6;
}

.underline {
	text-decoration: underline;	
}

.chat-header {
	padding: 10px;
	zoom: 1; 
	*padding-bottom: 0px;
	/*background-image: url(/img/chat-header-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;*/
	position: relative;
}	
.chat-header:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.chat-header-shadow {
	background-image: url(/img/chat-header-shadow.png);
	background-repeat: repeat-x;
	height: 2px;
	line-height: 2px;
	font-size: 1px;
	position: relative;
	z-index: 10;
	cursor: pointer;
}

/* Свернутый заголовок */
.chat-header .avatar {
	background-image: url(/img/chat-avatar-bg.png);
	height: 79px;
	width: 68px;
	float: left;
}
.chat-header .avatar img{
	width: 58px;
	height: 68px;
	margin: 5px 0px 0px 5px;	
}

.chat-header .header-text {
	margin-left: 75px;	
	white-space: nowrap;
	overflow: hidden;
	/*width: 320px;*/
}

.chat-header .chat-menu {
	margin-top: 24px;
	display: block;
	margin-left: 75px;
    overflow:hidden;
    
}
.chat-header .chat-menu li {
	float: left;
	height: 18px;
	
}
.chat-header .chat-menu li + li {
	margin-left: 7px;	
}
.chat-header .chat-menu li a {
	color: #FFF;
	height: 18px;
	text-decoration: underline;
	font-size: 12px;
	line-height: 14px;
	display: inline-block;
	zoom:1;
	*display: inline;	
	padding-left: 22px;
	cursor: pointer;
}

/* Развернутый заголовок */
.chat-header.big {
	padding: 10px;
	zoom: 1;
/*	background-image: url(/img/chat-header-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;*/
}	
.chat-header.big:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.chat-header.big .avatar {
	background-image: url(/img/chat-avatar-big-bg.png);
	height: 124px;
	width: 108px;
	float: left;
	cursor: pointer;
}
.chat-header.big .avatar img{
	width: 100px;
	height: 116px;
	margin: 3px 0px 0px 4px;	
}

.chat-header.big .header-text {
	margin-left: 115px;
	overflow: hidden;
	white-space: nowrap;
	width: 280px;
}

.chat-header.big .chat-menu {
	margin-top: 10px;
	display: block;
	margin-left: 115px;
}
.chat-header.big .chat-menu li {
	height: 18px;
	float: none;	
}
.chat-header.big .chat-menu li + li {
	margin-top: 7px;	
	margin-left: 0;
}
.chat-header.big .chat-menu li a {
	color: #FFF;
	height: 18px;
	text-decoration: underline;
	font-size: 12px;
	line-height: 14px;
	display: inline-block;
	zoom:1;
	*display: inline;	
	padding-left: 22px;
	cursor: pointer;
}

/**/

.btn-complain {
	background-image: url(/img/btn-complain.png);
	background-repeat: no-repeat;
	background-position: left top;		
}
.btn-complain:hover {
	background-position: left bottom;		
}

.btn-sendmail {
	background-image: url(/img/btn-sendmail.png);
	background-repeat: no-repeat;
	background-position: left top;	
}
.btn-print {
	background-image: url(/img/btn-print.png);
	background-repeat: no-repeat;
	background-position: left top;	
}	

.btn-sound {
	width: 21px;
	height: 18px;
	float: right;
	display: block;
}

.btn-sound.on{
	background-image: url(/img/btn-sound-on.png);
	background-repeat: no-repeat;
	background-position: left top;		
}
.btn-sound.on:hover {
	background-position: left center;
}
.btn-sound.on:active {
	background-position: left bottom;
}

.btn-sound.off{
	background-image: url(/img/btn-sound-off.png);
	background-repeat: no-repeat;
	background-position: left top;		
}
.btn-sound.off:hover {
	background-position: left center;
}
.btn-sound.off:active {
	background-position: left bottom;
}

.operator-name {
	font-size: 18px;
	font-weight: bold;
	font-family: Helvetica, sans-serif;
	color: #FFF;
	line-height: 1.4em;
	text-shadow:0px 1px 1px #666;
}

.operator-group {
	font-size: 14px;
	font-family: Helvetica, sans-serif;
	color: #FFF;
	line-height: 1.4em;
	text-shadow:0px 1px 1px #666;	
}

.chat-content {
	background-color: #FFF;
	margin-top: -2px;
	position: relative;
	z-index: 1;
	overflow-y: scroll;
	height: 230px;
	overflow-x: hidden;
	padding-bottom: 5px;
}
.client-msg .client-name {
	background-image: url(/img/client-name-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	width: 425px;
	padding-top: 5px;
	margin-left: 3px;
	margin-top: 5px;
}
.client-msg .client-name .client-name-bottom {
	background-color: #fef8de;
	background-image: url(/img/client-name-bg.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding: 0 10px 5px;
	font-size: 12px;
	color: #96814a;
}

.msg-time { 
	float: right;
}
.msg-time img {
	display: none;
}

.msg-time.send-spinner img, .msg-time.error-send img{
	margin-top: 3px;
	display: block;
	margin-left: 5px;
	float: right;
}
.msg-time.send-spinner span {
	display: none;
}
.msg-time.error-send span {
	display: inline;
}

.msgundefined .msg-time img {
	display: none;
}
.msgundefined .msg-time span{
    display: inline;
}

.msg-text {
	padding: 5px 12px;
	color: #000;
	font-size: 14px;
}

.operator-msg {
	background-image: url(/img/operator-name-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	width: 425px;
	padding-top: 5px;
	margin-left: 3px;
	margin-top: 5px;
}

.operator-msg .operator-msg-bottom {
	background-color: #f3f3f3;
	background-image: url(/img/operator-name-bg.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding: 0 10px 5px;
	font-size: 12px;
}
.operator-msg .name, .operator-msg  .msg-time {
	color: #8e8e8e;
}
.operator-msg .msg-text {
	padding: 5px 0;	
}

.system-msg {
	background-image: url(/img/system-msg-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	width: 425px;
	padding-top: 5px;
	margin-left: 3px;
	margin-top: 5px;
}

.system-msg .system-msg-bottom {
	background-color: #e1f0f8;
	background-image: url(/img/system-msg-bg.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding: 0 10px 5px;
	font-size: 12px;
	font-style: italic;
	text-align: center;
	text-shadow: 0 1px 1px #FFF;
	position: relative;
	color: #333;
}


.progress {
	background-image: url(/img/system-msg-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	width: 425px;
	padding-top: 5px;
	margin-left: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.progress-bottom {
	background-color: #e1f0f8;
	background-image: url(/img/system-msg-bg.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding: 0 10px 5px;
	font-size: 12px;
	font-style: italic;
	text-align: center;
	text-shadow: 0 1px 1px #FFF;
	position: relative;
}

.progress-bar-bg {
	width: 314px;
	height:10px;
	background: url('/img/progress-bar-bg.png') no-repeat left top;
	margin: 2px auto;
}
.progress-bar-r {
	width: 311px;
	height: 10px;
	background: url('/img/progress-bar-r.png') no-repeat right top;
	padding-right: 3px;
	float: left;
}

.progress-bar-l {
	width: 100%;
	height: 10px;
	background: url('/img/progress-bar-l.png') no-repeat left top;
}

.progress .send-op {
    color: #333;
}

.history {
	margin-bottom: 18px;
	text-align: center;
}

.history .last-chat {
	font-size: 12px;
	line-height: 0.8em;
	font-weight: bold;
	color: #898989;
	padding-top: 14px;
	padding-bottom: 14px;
}

.history .horline {
	height: 8px;
	width: 100%;
	clear: both;
	background-color: #CCC;
	background-image: url(/img/separator.png);

}

.separator {
	height: 9px;
	clear: both;
	background-image: url(/img/chat-separator.png);
	background-repeat: repeat-x;
}
.rate {
	height: 22px;
	background-color: #FFF;
	background-image: url(/img/rate-shadow.png);
	background-repeat: repeat-x;
	background-position: center bottom;
	padding: 7px 0px 10px 15px;
	color: #666;
	font-weight: bold;
	font-size: 12px;
	line-height: 22px;
	font-family: Helvetica, sans-serif
}
.rate .btn-useless {
	background-image: url(/img/btn-useless.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: inline-block;
	height: 23px;
	width: 126px;
	cursor: pointer;
	zoom: 1;

	*display: inline;
	text-indent: -9000px;
	margin-left: 20px;
}
.rate .btn-usefull {
	background-image: url(/img/btn-usefull.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: inline-block;
	height: 23px;
	width: 126px;
	cursor: pointer;
	zoom: 1;
	*display: inline;
	text-indent: -9000px;
	margin-left: 10px;
}

.msg-input {
	margin: 0;
	padding: 7px;
	width: 432px;
	height: 73px;
	overflow-x: hidden;
	overflow-y: auto;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-color: #dddede;
	border-left-color: #dddede;
	resize: none;
	*margin-top: -1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}


.btn-send, .btn-send:link, .btn-send:visited {
	display: block;
	cursor: pointer;
	width: 135px;
	height: 39px;
	text-indent: -2000px;
	background-image: url(/img/btn-send-green.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	position: relative;
	outline: none;
    -webkit-user-select: none;
}

.btn-send:active {
	background-position: left bottom;
}
.clear {
	clear: both;	
}
.send-desc {
	font-size: 11px;
	color: #FFF;
	float: right;
	clear: right;
	margin-right: 20px;
	display: block;
	position: relative;
}
.footer-text {
	color: #fff;
	font-size:12px;
	position: absolute;
	bottom: 0;
	left: 10px;
	padding-bottom: 5px;
}

.footer-text a:visited, .footer-text a:link, .footer-text a:hover, .footer-text a:active {
	color: #a7edff;
}


/*
* @section Странички жалоб и отправки чата на почту
*/

.complain {
	/*background-image: url(/img/chat-bg.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;*/
	background-color: #b8dcf2;
	height: 605px;
	width: 448px;	
	margin: auto;
	position: relative;
	display: none;
}

.complain .content {
	padding:55px 20px 20px 20px;	
}

.complain .btn-send {
	margin-right: 0px;	
}

.sendon {
	/*background-image: url(/img/chat-bg.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;*/
	background-color: #b8dcf2;
	height: 605px;
	width: 448px;	
	margin: auto;
	position: relative;
	display: none;
}

.sendon .content {
	padding:55px 20px 20px 20px;	
}

.sendon .btn-send {
	margin-right: 0px;	
}

/**
* @section Light & Dark versions
*/

.light, .light .operator-name, .light .operator-group, .light .btn-complain, .light .btn-sendmail, .light .btn-print, .light .send-desc {
	color: #1F1F1F !important;
}

.light .info-text,  .light label,  .light .back-link,  .light .operator-name, .light .operator-group, .light .send-desc {
	text-shadow:0px 1px 0px #CCC;	
}

.light .footer-text,  .light .footer-text a {
	color: #1F1F1F !important;
}


.dark,.dark .operator-name {
	color: #fff;	
}

.dark .info-text,.dark label,  .dark .back-link {
	text-shadow:0px 1px 0px #666;	
}

 .dark .footer-text,  .dark .footer-text a {
	color: #fff;	
}

/* Звонки */
.btn-call {
	background-image: url(/img/btn-call.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 39px;
	width: 135px;
	float: right;
	text-indent: -5000px;
	display: none;
	cursor: pointer;
	/*position: absolute;
	right: 10px;
	top: 34px;*/
}

.btn-reject {
	background-image: url(/img/btn-rejet.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 39px;
	width: 135px;
	float: right;
	text-indent: -5000px;
	display: none;
	cursor: pointer;
	/*position: absolute;
	right: 10px;
	top: 34px;*/
}

.btn-endcall {
	background-image: url(/img/btn-endcall.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 39px;
	width: 135px;
	float: right;
	text-indent: -5000px;
	display: none;
	cursor: pointer;
	/*position: absolute;
	right: 10px;
	top: 34px;*/
}


.calling .btn-sound {
	display: none;	
}
.calling .btn-call{
	display: block;	
}

.calling .header-text {
	width: 210px;	
}

.calling .chat-header.big .header-text {
	width: 170px;	
}

.calling .chat-header.big .header-text .operator-name {
	font-size: 14px;	
}

.calling .chat-header.big .header-text .operator-group {
	font-size: 12px;	
}

/* Кнопка отключения звука */
.calling .btn-sound-bottom {
	display: block;	
}

.btn-sound-bottom {
	width: 120px;
	height: 18px;
	float: left;
	display: block;
	padding-left: 23px;
	line-height: 18px;
	font-size: 12px;
	color: #FFF;
	text-decoration: underline;
	margin-left: 10px;
	margin-top: 10px;
	cursor: pointer;
	display: none;
}

.btn-sound-bottom.on{
	background-image: url(/img/btn-sound-on.png);
	background-repeat: no-repeat;
	background-position: left top;		
}
.btn-sound-bottom.on:hover {
	background-position: left center;
}
.btn-sound-bottom.on:active {
	background-position: left bottom;
}

.btn-sound-bottom.off{
	background-image: url(/img/btn-sound-off.png);
	background-repeat: no-repeat;
	background-position: left top;		
}
.btn-sound-bottom.off:hover {
	background-position: left center;
}
.btn-sound-bottom.off:active {
	background-position: left bottom;
}

/* Всплывающее окно звонка */
.calling-popup {
	width: 	260px;
	height: 196px;
	position: absolute;
	background-image: url(/img/popup-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	z-index: 8;
	margin-top: -2px;
	left: 75px;
	padding: 10px 20px 10px;
	display:none;
}
/* Запрос flash в окошке чата*/
.flash-chat-request {
	width: 250px;
	height: 180px;
	position:absolute;
	z-index: 20;
	left: 100px;
	text-align:center;
	display:none;
}

.flash-chat-dummy {
	height: 150px;
	width: 230px;
	margin: auto;
}

.flash-chat-infotext {
	font-size: 12px;
	font-weight: bold;
	color: #3d7518;
}

/**/

.incoming-call {
	padding: 15px;
	display: none;
}
.incoming-call  img {
	margin-bottom: 10px;
	margin-top: 10px;	
}
.incoming-call .op-name {
	font-size: 14px;
	color: #000;
	font-weight: bold;
	line-height: 1.5em;
}

.incoming-call .incoming-text {
	font-size: 12px;
	color: #000;
	line-height: 1.5em;
}

.incoming-call .btn-reject-small {
	height: 33px;
	width: 112px;
	background-image: url(/img/btn-small-reject.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	text-indent: -5000px;
	display: block;
	cursor: pointer;
	margin-top: 10px;
}

.incoming-call .btn-accept-small {
	background-image: url(/img/btn-small-accept.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 33px;
	width: 112px;
	text-indent: -5000px;
	display: block;
	float: left;
	cursor: pointer;
	margin-left: 5px;
	margin-top: 10px;
}


/* Панель звонка */
.calling-panel {
	background-image: url(/img/call-panel-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 24px;
	width: 428px;
	position: absolute;
	z-index: 8;
	margin-top: -2px;
	padding: 5px 10px;
	display: none;
}

.calling-panel .outcall {
	line-height: 16px;
	font-size: 12px;
	color: #515d64;
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin-top: 3px;
}
.calling-panel .outcall img {
	margin-bottom: -3px;	
}

.calling-panel .calltime {
	line-height: 13px;
	font-size: 12px;
	color: #515d64;
	margin-top: 3px;
	display: none;
}

.btn-mic.off {
	width: 22px;
	height: 23px;
	float: right;
	background-image: url(/img/btn-mic-off.png);
	background-repeat: no-repeat;
	background-position: left top;
	cursor: pointer;
}

.btn-mic.on{
	width: 22px;
	height: 23px;
	float: right;
	background-image: url(/img/btn-mic-on.png);
	background-repeat: no-repeat;
	background-position: left top;
	cursor: pointer;
}

.volume-block {
	height: 13px;
	width: 85px;
	float: right;
	background-image: url(/img/icon-sound-slider.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	position: relative;
	padding-top: 7px;
}
.volume-block .volume-slider-block {
	height: 7px;
	width: 70px;
	position: relative;
}

.volume-block .volume-slider-block .volume-slider {
	background-color: #5590d2;
	width: 55%;
	height: 7px;
	position: absolute;
	z-index: 1;
}

.volume-block .ui-slider-range {
	background-color: #5590d2;
	width: 55%;
	height: 7px;
	position: absolute;
	z-index: 1;
}

.volume-block .volume-bg {
	background-image: url(/img/slider-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 7px;
	width: 70px;
	position: absolute;
	z-index: 2;
}

.volume-block .ui-slider-handle {
	background-image: url(/img/sound-slider-contorl.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 16px;
	width: 15px;
	position: absolute;
	margin-top: -4px;
	cursor: pointer;
	z-index: 3;
	display: block;
	margin-left: -7px;
	outline: none;
}


/* Окошко разрешения к доступу к флэш проигрывателю */
#rtmp{
	position: absolute;
	left: 107px;
	top: 140px;
	width: 230px;
	height: 150px;
	/*background-color: white;*/
	z-index: 800;
	margin-top: -2000px;
}
.calling-window {
	background-image: url(/img/voice-call-bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 605px;
	width: 448px;
	position:absolute;
	z-index: 300;
	left: 0;
	top: 0;
	text-align:center;
	display: none;
}
.calling-window .top-attention {
	position: absolute;
	top: 0;
	left: 0;
	width: 448px;
	height: 82px;
	background: url('/img/attention.png') no-repeat left top;
}
.calling-window .footer-text {
	color: #fff;
	font-size: 11px;
	position: absolute;
	right: 20px;
	bottom: 20px;
    text-align: right;
}
.flash-install .footer-text .lnk-livetex, .hw-disabled .footer-text .lnk-livetex, .request-popup .footer-text .lnk-livetex{
	color: #96b7d8;
}
.calling-window .footer-text a{
	color: #96b7d8;
	padding-left: 15px;
	background: url('/img/livetex-link-icon.png') no-repeat left center;
}
/* Окошко с подтверждением доступа флэш проигрывателя к оборудованию клиента */
.calling-window .request-popup {
	width: 364px;
	height: 315px;
	background-image: url(/img/flash-dummy.png);
	background-repeat: no-repeat;
	margin: 170px auto 0;
	display: none;
}
.calling-window .request-popup .flash-dummy {
	width: 230px;
	height: 150px;
	margin-left: 65px;
}
.calling-window .request-popup  img {
	margin-top: 65px;
}
.calling-window .request-popup .grey {
	line-height: 35px;
	font-size: 12px;
	color: #b2b6bf;
	text-shadow: 0px 1px 2px #000;
}

/* Подор оператора */
.calling-window  .operators-search-window {
	margin: 250px auto 0;
	text-align: center;
	display: none;
}
.calling-window .operators-search-window p {
	color: #fff;
	font-weight: bold;
	text-shadow: 0px 1px 2px #000;
	line-height: 1.4em;
	margin-bottom:  20px;
	font-size: 18px;
}

.calling-window .operators-search-window .grey {
	line-height: 35px;
	font-size: 12px;
	color: #b2b6bf;
	text-shadow: 0px 1px 2px #000;
}
.operators-search-window .button-complete {
	background: url(/img/button-complete.png);
	display: inline-block;
	width: 137px;
	height: 40px;
    cursor: pointer;
}
/* Окно с номеронабирателем */
.calling-window .number-call-window  {
	margin: 120px auto 0;
	display: none;
}
.number-call-window .top-attention{
	position: absolute;
	top: 0;
	left: 0;
	width: 448px;
	height: 82px;
	background: url('/img/numcall-attention.png') no-repeat left top;
}
.number-call-window .numpad {
	height: 303px;
	width: 325px;
	background: url('/img/numpad.png') no-repeat left top;
	margin: auto;
}
.number-call-window .numpad a {
	display: block;
	float: left;
	width: 107px;
	height: 77px;
	cursor: pointer;
}
.number-call-window .numpad a.num-1 {
	width: 107px;
	height: 77px;
}
.number-call-window .numpad a:active {
	background-image: url('/img/numpad.png');
	background-repeat: no-repeat;
}
.number-call-window .numpad a.num-1:active {
	background-position: 0px -304px;
}
.number-call-window .numpad a.num-2 {
	width: 108px;
	height: 77px;
}
.number-call-window .numpad a.num-2:active {
	background-position: -107px -304px;
}
.number-call-window .numpad a.num-3 {
	width: 108px;
	height: 77px;
}
.number-call-window .numpad a.num-3:active {
	background-position: -215px -304px;
}
.number-call-window .numpad a.num-4 {
	width: 107px;
	height: 74px;
}
.number-call-window .numpad a.num-4:active {
	background-position: 0px -381px;
}
.number-call-window .numpad a.num-5 {
	width: 108px;
	height: 74px;
}
.number-call-window .numpad a.num-5:active {
	background-position: -107px -381px;
}
.number-call-window .numpad a.num-6 {
	width: 108px;
	height: 74px;
}
.number-call-window .numpad a.num-6:active {
	background-position: -215px -381px;
}
.number-call-window .numpad a.num-7 {
	width: 107px;
	height: 75px;
}
.number-call-window .numpad a.num-7:active {
	background-position: 0px -455px;
}
.number-call-window .numpad a.num-8 {
	width: 108px;
	height: 75px;
}
.number-call-window .numpad a.num-8:active {
	background-position: -107px -455px;
}
.number-call-window .numpad a.num-9 {
	width: 108px;
	height: 75px;
}
.number-call-window .numpad a.num-9:active {
	background-position: -215px -455px;
}
.number-call-window .numpad a.num-asterisk {
	width: 107px;
	height: 75px;
}
.number-call-window .numpad a.num-asterisk:active {
	background-position: 0px -530px;
}
.number-call-window .numpad a.num-0 {
	width: 108px;
	height: 75px;
}
.number-call-window .numpad a.num-0:active {
	background-position: -107px -530px;
}
.number-call-window .numpad a.num-sharp {
	width: 108px;
	height: 75px;
}
.number-call-window .numpad a.num-sharp:active {
	background-position: -215px -530px;
}
.number-call-window .control-panel {
	width: 325px;
	margin: auto;
	padding: 20px 0px;
	text-align: left;
}
.number-call-window .control-panel .center {
	float: left;
	width: 170px;
	text-align: center;
}
.number-call-window .control-panel .time {
	display: inline-block;
	*zoom:1;
	*display: inline;
	padding:0 20px 0px 35px;
 	border: 1px solid #3e4e6c;
 	border-radius: 5px;
 	margin-left: 10px;
 	line-height: 36px;
 	font-size: 24px;
 	color: #a3a9b4;
 	background: url('/img/clock.png') no-repeat 10px center;
}

.number-call-window .button-complete {
	background: url(/img/button-complete.png);
	float: right;
	width: 137px;
	height: 40px;
    cursor: pointer;
    margin-right: 10px;
}
/* Отсутствие установленного флэш проигрывателя */
.calling-window .flash-install {
	display: none;
}
.calling-window .flash-install .heading{
	width: 270px;
	height: 60px;
	margin: 68px auto 0;
	text-align: center;
	background: url('/img/flash-install-arrow.png') no-repeat right top;
	color: #fff;
	font-size: 18px;
	line-height: 1.25em;
	text-shadow: 0px 1px 1px #181f2b;
}
.calling-window .flash-install .attention {
	margin-top: 20px;
}
.calling-window .flash-install .flash-icon {
	margin-top: 20px;
}
.calling-window .flash-install p {
	font-size: 12px;
	color: #fff;
	text-shadow: 0px 1px 0px #181f2b;
	margin-top: 20px;
}
.calling-window .flash-install a {
	color: #fff;
}

/* Окно ошибки подключения flash проигрывателя к микрофону */
.calling-window .hw-disabled {
	display: none;
	text-align: center;
}

.calling-window .hw-disabled .stop-sign {
	margin-top: 140px;
}
.calling-window .hw-disabled h3 {
	color: #fff;
	font-size: 18px;
	line-height: 1.25em;
	font-weight: bold;
	text-shadow: 0px 1px 0px #181f2b;
	padding-top: 10px;
}
.calling-window .hw-disabled p {
	color: #fff;
	font-size: 12px;
	line-height: 1.25em;
	text-shadow: 0px 1px 0px #181f2b;
	padding-top: 20px;
}

.calling-window .hw-disabled .btn-back {
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 201px;
	height: 33px;
	background: url('/img/btn-go-back.png') no-repeat left top;
	cursor: pointer;
	margin-top: 20px;
}

/* Окно сообщения о ненайденном операторе */
.calling-window .operator-not-found {
	display: none;
}
.calling-window .operator-not-found .no-oper {
	margin-top: 130px;
	margin-left: 35px;
}
.calling-window .operator-not-found h3 {
	color: #fff;
	font-size: 20px;
	line-height: 1.25em;
	font-weight: bold;
	text-shadow: 0px 1px 0px #181f2b;
	padding-top: 25px;
}
.calling-window .operator-not-found p{
	color: #fff;
	font-size: 12px;
	line-height: 1.5em;
	text-shadow: 0px 1px 0px #181f2b;
	padding-top: 25px;
}
.calling-window .operator-not-found .btn-search{
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 201px;
	height: 33px;
	background: url('/img/btn-new-search.png') no-repeat left top;
	cursor: pointer;
	margin-top: 25px;
}
.calling-window .operator-not-found .btn-chat{
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 201px;
	height: 33px;
	background: url('/img/btn-chat.png') no-repeat left top;
	cursor: pointer;
	margin-top: 15px;
}

/* Вызов завершен */
.calling-window  .call-ends {
	display: none;
}
.calling-window .call-ends h3 {
	color: #fff;
	font-size: 20px;
	line-height: 1.25em;
	font-weight: bold;
	text-shadow: 0px 1px 0px #181f2b;
	padding-top: 25px;
}
.calling-window .call-ends p{
	color: #fff;
	font-size: 12px;
	line-height: 1.5em;
	text-shadow: 0px 1px 0px #181f2b;
	padding-top: 25px;
}
.calling-window .call-ends .btn-search{
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 201px;
	height: 33px;
	background: url('/img/btn-new-call.png') no-repeat left top;
	cursor: pointer;
	margin-top: 25px;
}
.calling-window .call-ends .no-oper {
	margin-top: 200px;
	margin-left: 35px;
}
