@charset "utf-8";
/* CSS Document */
/** 
* @package Livetex Chat Window
* @version 0.1
* @author Andrey Garbuzov
* @company Livetex chat & calls http://livetex.ru
*/

/**
* Обнуление настроек
* @section reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	background-color: transparent;
	border: 0;
}
.clear {
    clear: both;    
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    zoom: 1;     /* triggers hasLayout */
    display: block;     /* resets display for IE/Win */
}

/*
* @section Select Restyler
*/
.select-decor {
	position: relative;
	display: block;
	float: left;
	width: 100px;
	height: 34px;
	color: #444;
	text-shadow: none;
	font-weight: normal;
	z-index: 10;
	margin-top: 5px;
}
.select-popup {
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 100px;
	display: block;
	cursor: pointer;
	position: relative;
}
.select-popup .select-header {
	width: 100px;
	height: 25px;
	background-image: url(/img/embed-chat/select-small.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 4px;
}
.select-popup .select-header.noselect {
	width: 400px;
	height: 25px;
	background-image: url(/img/input-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 4px;
	margin-top: 5px;	
}
.select-popup .select-header .select-text {
	height: 22px;
	padding: 0 10px 0 5px;
	line-height: 27px;
	overflow: hidden;
}
.select-popup .select-content{
	display: none;
	margin-top: -1px;
}
.select-popup .select-list {
	padding: 0px;
	margin: -1px 2px 0 2px;
	overflow: auto;
	max-height:200px;
	background-color: #fff;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
}
.select-popup .select-list li {
	line-height: 1.4em;
	cursor: pointer;
	font-size: 14px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 10px;
}
.select-popup .select-list li:hover {
	background-color: #EFEFEF;
}
.select-popup .select-list li.selected {
	background-color: #abdbf5;
}

/* Окно приветствия 
*  @section Welcome window
*/
html {
	overflow: hidden;	
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.3em;
	color: #1F1F1F;	
	overflow: hidden;
	position: relative;
	width: 448px;
}

.background {
	background-image: url(/img/chat-bg.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-color: #848484;
	height: 605px;
	width: 448px;	
	margin: auto;
	position: relative;
}

.spinner {
	background: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	position: absolute;
	z-index: 400;
	width: 100%;
	height: 100%;
	display: none;
   top: 0px;
}
.spinner img{
	position: absolute;
	z-index: 100;
	left: 50%;
	top: 50%;
	margin-left: -15px;
	margin-top: -15px;	
}

.banner {
	display: none;
	width: 448px;
	height: 82px;
	overflow: hidden;
	text-align: center;
}

.content {
	padding: 20px;	
}
.operator-block {
	display: block;
}
.operator-block .operator {
	width: 67px;
	height: 67px;
	overflow: hidden;
	border-radius: 7px;
	border: 1px solid #ededed;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.5);
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	display: none;
}
.operator-block .bubble-text {
	color: #fff;
	font-style: italic;
	text-shadow:0px -1px 0px #333;	
	margin-bottom: 5px;
	display: none;
}
.operator-block.active .operator {
	display: block;
}
.operator-block.active .bubble-text {
	position: relative;
	width: 298px;
	float: left;
	padding: 10px;
	border-radius: 5px;
	background-color: #fff;
	background-color: rgba(255,255,255,0.8);
	*background-color: #fff;
	color: #222;
	font-size: 12px;
	box-shadow: 0px 1px 3px #333;
	margin-left: 10px;
	margin-bottom: 0;
	text-shadow: none;
}
.operator-block.active .bubble-text:before {
	content: "";
  position: absolute;
 	border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
  border-right: 10px solid rgba(255,255,255,0.8);
  border-top: 10px solid transparent;
  left: -10px;
  top: 20%;
}
.warning, .submit_text{
	display: none;
	background-image: url(/img/warning-bg-bottom.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 407px;
	padding-bottom: 8px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}
.warning > div, .submit_text > div{
	background-image: url(/img/warning-bg-top.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 10px 10px 2px;
	text-align: center;
	font-style: italic;
}
label {
	padding-top: 20px;
	display: block;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-shadow:0px -1px 0px #333;
	/*margin-bottom: 9px;*/
}
input {
	width: 398px;
	padding: 6px 5px;
	outline: none;
	background-color: #fff;
	color: #111;
	border: 1px solid #999;
    border-radius: 3px;
    -webkit-box-shadow:  0px 1px 1px  rgba(255, 255, 255, 0.5);    
    box-shadow:  0px 1px 1px  rgba(255, 255, 255, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.select-type input {
	width: 289px;
	margin-top: 6px;
	margin-left: 7px;
}
/* Стартовое включение форм */
#form-email, #form-phone, #form-select {
	display: none;
}
textarea {
	width: 398px;
	height: 90px;
	padding: 5px;
	margin-top: 3px;
	outline: none;
	background-color: #fff;
	overflow-y: auto;
	overflow-x: hidden;
	resize: none;
	color: #111;
	border: 1px solid #999;
    border-radius: 3px;
    -webkit-box-shadow:  0px 1px 1px  rgba(255, 255, 255, 0.5);    
    box-shadow:  0px 1px 1px  rgba(255, 255, 255, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
textarea.error, input.error {
	box-shadow: 0px 0px 8px #ff0000;
	color: #813535;
	border: 1px solid #b50000;
}
.phone {
	color:#999;
}
.btn-send {
	display: block;
	cursor: pointer;
	width: 135px;
	height: 39px;
	text-indent: -2000px;
	background-image: url(/img/btn-send-green.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	margin-top: 10px;	
}
.btn-send:active {
	background-position: left bottom;
}
.footer-text {
	color: #fff;
	font-size:12px;
	position: absolute;
	bottom: 0;
	left: 10px;
	padding-bottom: 5px;
	text-shadow: 0px 0px 1px #333;
}
.footer-text a:visited, .footer-text a:link, .footer-text a:hover, .footer-text a:active {
	color: #fff;
}	

.complete {
	padding-top: 150px;
}
.complete label {
	text-align: center;
	font-size: 16px;
}
.back-link {
	display: block;
	margin-top: 100px;
	color: #fff;
	text-shadow: 0px 0px 1px #333;
}
/*
* @section Dark Style
*/

.dark .info-text, .dark label {
	color: #fff !important;	
	text-shadow:0px 1px 0px #666 !important;	
}

.dark .footer-text, .dark .footer-text a, .dark .required {
	color: #fff !important;	
	text-shadow:0px 1px 0px #666 !important;	
}

.dark .hint {
	color: #eee;
	text-shadow: 0px 1px 0px #111 !important;
}

/*
* @section Light Style
*/
.light .operator-block .bubble-text, .light label {
	color: #1F1F1F !important;	
	text-shadow:0px 1px 0px #CCC !important;	
}

.light .footer-text, .light .footer-text a, .dark .required {
	color: #1F1F1F !important;	
	text-shadow:0px 1px 0px #CCC !important;
}
.light  .hint {
	color: #505050 !important;
	text-shadow: 0px 1px 0px #eee !important;
}

