/* Mobile Label Styles */
/** 
* @package Livetex Label
* @version 1.0
* @author andrey.g@livetex.ru Andrey Garbuzov
* @company LiveTex http://livetex.ru Сервисы для коммуникации с посетителями сайта
*/
.lt-invite {
  position: fixed;
  bottom: 0;
  /*top: auto !important;*/
  left: 0;
  width: 100%;
  height: 33px;
  transition: height 0.6s ease;
  /* @alternate */-webkit-transition: height 0.6s ease;
  overflow: hidden;
  z-index: 10000;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  margin: 0;
  padding: 0;
}
/* Label */
.lt-invite .lt-label {
  position: relative;
  padding: 0;
  height: 33px;
  width: 300px;
  margin: 0 auto;
  background: url(../img/mobile/label-online.png) no-repeat left top;
  background-size: cover;
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 2.4em;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}
.lt-invite.lt-offline .lt-label, .lt-invite.lt-lead .lt-label  {
  background: url(../img/mobile/label-offline.png) no-repeat left top;
  background-size: cover;
}
/* Content */
.lt-invite .lt-content {
  height: 100%;
  background-color: rgba(47,47,47,0.93);
  box-shadow: 0 1px 1px rgba(255,255,255,0.2) inset;
  padding: 2.5%;
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transition: height 2s ease;
  /* @alternate */ -webkit-transition: height 2s ease;
}
.lt-invite .lt-cancel {
  float: right;
  height: 50px;
  width: 50px;
  background: url(../img/mobile/btn-close.png) no-repeat left top;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  padding: 0;
  margin: 0;
  text-indent: -5000px;
}
.lt-invite img {
  width: 8%;
  border: 3px solid #e7e7e7;
  box-shadow: 0 0 10px rgba(0,0,0,0.3), inset 0 0 1px #000;
  /* @alternate */ -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  /* @alternate */ -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  float: left;
  margin: 0;
}
.lt-invite .lt-op-info {
  overflow: auto;
}
.lt-invite .lt-title {
  width: 75%;
  margin: 0 0 0 5%;
  float: left;
  padding: 0;
}
.lt-invite .lt-name {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.2em;
  height: 1.2em;
  color: #fff;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
  text-align: left;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.lt-invite .lt-depart {
  font-size: 0.9em;
  line-height: 1.2em;
  color: #dbdcdd;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
  text-align: left;
  padding: 0;
  margin: 0;
}
.lt-invite .lt-greet-arrow {
  position: absolute;
  top: -10px;
  left: 5%;
  width: 10px;
  height: 10px;
  background: url(../img/mobile/op-text-arrow.png) no-repeat left top;
  background-size: cover;
  padding: 0;
  margin: 0;
}
.lt-invite .lt-greet {
  font-family: Arial, sans-serif;
  color: #3c4953;
  font-size: 0.9em;
  line-height: 1.1em;
  text-align: left;
  text-shadow: 0 1px rgba(255,255,255,.75);
  clear: left;
  padding: 0;
  margin: 4% 0 0 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(71,90,97,.39), inset 0 1px rgba(255,255,255,.68);
  /* @alternate */ -webkit-box-shadow: 0 3px 5px rgba(71,90,97,.39), inset 0 1px rgba(255,255,255,.68);
  /* @alternate */ -moz-box-shadow: 0 3px 5px rgba(71,90,97,.39), inset 0 1px rgba(255,255,255,.68);
  border: solid 1px #526985;
  background-image: linear-gradient(to top, #cedde8, #edf5f9);
  /* @alternate */background-image: -webkit-linear-gradient(bottom, #cedde8, #edf5f9);
  /* @alternate */background-image: -moz-linear-gradient(bottom, #cedde8, #edf5f9);
  /* @alternate */background-image: -o-linear-gradient(bottom, #cedde8, #edf5f9);
  /* @alternate */background-image: -ms-linear-gradient(bottom, #cedde8, #edf5f9);
  position: relative;
}
.lt-invite .lt-greet p {
  padding: 2.5%;
  margin: 0;
  white-space: normal;
}
.lt-invite .lt-footer {
  font-size: 0.7em;
  line-height: 1.4em;
  display: block;
  font-family: Arial, sans-serif;
  color: #c2ccd9;
  text-shadow: 0 0 2px #000;
  margin: 2.5% 0 0 0;
  padding: 0;
}
.lt-invite .lt-footer a {
  color: #c2ccd9;
  padding: 0;
  margin: 0;
}
.lt-invite .lt-send {
  float: right;
  margin: 2% 0 0 0;
  line-height: 1em;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 2% 5%;
  text-shadow: 0 0 2px rgba(0,0,0,.37);
  border-radius: 3px;
  /* @alternate */-webkit-border-radius: 3px;
  /* @alternate */-moz-border-radius: 3px;
  background-color: #17a32b;
  box-shadow: 0 1px 0 rgba(255,255,255,.35), inset 0 1px rgba(255,255,255,.54), inset 0 0 0 1px rgba(255,255,255,.21);
  /* @alternate */-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.35), inset 0 1px rgba(255,255,255,.54), inset 0 0 0 1px rgba(255,255,255,.21);
  /* @alternate */-moz-box-shadow: 0 1px 0 rgba(255,255,255,.35), inset 0 1px rgba(255,255,255,.54), inset 0 0 0 1px rgba(255,255,255,.21);
  border: solid 1px #37510a;
  background-image: linear-gradient(to top, #0d9c23, #41bf4a);
  /* @alternate */background-image: -webkit-linear-gradient(bottom, #0d9c23, #41bf4a);
  /* @alternate */background-image: -moz-linear-gradient(bottom, #0d9c23, #41bf4a);
  /* @alternate */background-image: -o-linear-gradient(bottom, #0d9c23, #41bf4a);
  /* @alternate */background-image: -ms-linear-gradient(bottom, #0d9c23, #41bf4a);
}
.lt-invite textarea {
  display: none;
}
.lt-invite iframe {
  display: none;
}

/* Leads */
.lt-invite.lt-lead img {
  float: left;
  width: 90%;
}
.lt-invite.lt-lead .lt-op-info {
  width: 15%;
  height: 34%;
  float: left;
  margin-right: 7%;
}
.lt-invite.lt-lead .lt-title {
  display: none;
}
.lt-invite.lt-lead .lt-greet {
  float: left;
  width: 70%;
  clear: none;
}
.lt-invite.lt-lead .lt-op-text {
  margin-left: 15%;
  margin-right: 7%;
  margin-top: 0;
  clear: none;
}
.lt-invite.lt-lead .lt-greet-arrow {
  top: 15%;
  left: -10px;
  width: 10px;
  height: 10px;
  background: url(../img/mobile/op-text-arrow-lead.png) no-repeat left top;
  background-size: cover; 
}
.lt-invite.lt-lead.lt-no-photo .lt-op-info{
  display: none;
}
.lt-invite.lt-lead.lt-no-photo .lt-greet {
  margin-left: 0;
  float: none;
  width: 93%;
}
.lt-invite.lt-lead.lt-no-photo .lt-greet-arrow {
  display: none;
}
.lt-invite.lt-lead .lt-btn-contact {
  margin-right: 15%;
}
.lt-invite.lt-lead .lt-footer {
  clear: left;
}

/* Android 2.3 fix */
.lt-invite.android-fix {
  position: absolute;
  bottom: auto;
  left: 0;
  height: 360px;
  width: 33px;
  font-size: 26px;
  transition: width 0.6s ease;
  /* @alternate */-webkit-transition: width 0.6s ease;

}
.lt-invite.android-fix .lt-label {
  float: right;
  text-indent: -1000px;
  width: 33px;
  height: 360px;
  background: url(../img/mobile/label-online-vertical.png) no-repeat right top;
  background-size: cover;
}
.lt-invite.android-fix.lt-offline .lt-label {
  background: url(../img/mobile/label-offline-vertical.png) no-repeat right top;
}
.lt-invite.android-fix.lt-lead .lt-label {
  background: url(../img/mobile/label-lead-vertical.png) no-repeat right top;
}
.lt-invite.android-fix .lt-content {
  display: none;
}
.lt-invite.android-fix.lt-active .lt-content {
  display: block;
}

/* Landscape orientation */
@media (orientation: landscape) {
  .lt-invite.lt-active {
    height: 85% !important;
  }
  .lt-invite.android-fix {
    height: 360px !important;
  }
  .lt-invite.android-fix.lt-active {
    width: 600px;
  }
} 

/* Portrait orientation */
@media (orientation: portrait){
  .lt-invite.lt-active {
    height: 48% !important;
  }
  .lt-invite.android-fix {
    height: 360px !important;
  }
  .lt-invite.android-fix.lt-active {
    width: 600px;
  }
}

